<ion-view title="Find Your Walk">
  <ion-content>
    
     <div id="map"></div>
     <ion-list>
        <ion-item>
        	{{place.text}} <br>
        	<div class="rating">
		           <p class="likes" ng-click="increment(place, item);"> <i class="icon ion-thumbsup"></i> {{ place.likes }} </p> <br>
		           <p class="dislikes" ng-click="decrement(place, item);"> <i class="icon ion-thumbsdown"></i> {{ place.dislikes }} </p>
	        </div>
        </ion-item>

     </ion-list>
   </ion-content>
</ion-view>