<ion-view title="Find Your Walk">
  <ion-content>
    
     <div id="map"></div>
     <ion-list>
        <ion-item>
        	{{place.text}} <br>
        	<div class="">
                <button class="button button-small" ng-click="increment(place, item);">
                   Like This Place!
                </button>
    		           <p class="likes"> <i class="icon ion-thumbsup" ng-click="increment(place, item);"></i> {{ place.likes }} </p> <br>
          </div>    

          <div class="">
            <button class="button button-small" ng-click="decrement(place, item);">
               Dislike This Place!
            </button>
		           <p class="dislikes" > <i class="icon ion-thumbsdown" ng-click="decrement(place, item);"></i> {{ place.dislikes }} </p>
	        </div>
        </ion-item>

     </ion-list>
   </ion-content>
</ion-view>